name: Publish on Github

on:
  push:
  workflow_dispatch:

jobs:
  build:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt update
      - run: sudo apt install autoconf-archive texlive
      - run: mkdir m4 && autoreconf -if
      - run: ./configure
      - run: make dist
      - run: make pdf
      - run: mkdir dist
      - run: cp zz*.tar.gz doc/zz.pdf dist/
      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: >-
          gh release create '${{ github.ref_name }}'
          --repo '${{ github.repository }}'
          --prerelease
          --generate-notes
      - name: Upload artifacts to GitHub Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: >-
          gh release upload
          '${{ github.ref_name }}' dist/**
          --repo '${{ github.repository }}'
